* {
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: lavender;
  min-width: 600px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  color: black;
  padding: 20px 40px;
  border-radius: 20px;
}

.remainingDiv {
  width: 500px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid gray;
  outline: none;
}

.form {
  text-align: left;
}

label {
  font-weight: bold;
  margin: 10px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  background: green;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

h1 {
  font-size: 35px;
}

li {
  list-style-type: none;
  font-size: 30px;
  padding: 10px;
}

ul {
  display: flex;
}

span {
  font-size: 65px;
  color: red;
}

.timeDiv {
  text-align: center;
}

.complete {
  text-align: center;
}
